<div class="container-fluid">
    <div class="row">
      <button (click)="onNew()" class="btn btn-info form-btn" id="form-btn">
        Post a new meme
      </button>
  
      <form (ngSubmit)="onSave()" *ngIf="showNew" id="quote-form">
        <span (click)="onCancel()" class="del"
          ><i class="fa fa-times-circle"></i
        ></span>
  
        <div class="form-group">
          <label for="text-input">Memey</label>
          <textarea
            class="form-control"
            [(ngModel)]="quoteModel.text"
            placeholder="Write your quote here"
            rows="6"
            name="text"
            id="text-input"
            required
          ></textarea>
        </div>
  
        <div class="form-group">
          <label for="author-input">Author</label>
          <input
            class="form-control"
            type="text"
            [(ngModel)]="quoteModel.author"
            name="author"
            id="author-input"
            placeholder="Quote Author"
            required
          />
        </div>
  
        <div class="form-group">
          <label for="poster-input">Poster</label>
          <input
            id="poster-input"
            class="form-control"
            type="text"
            [(ngModel)]="quoteModel.poster"
            name="poster"
            placeholder="Your name"
            required
          />
        </div>
  
        <button type="submit" class="btn btn-primary">{{ submitType }}</button>
      </form>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="card-columns">
          <div class="card" *ngFor="let quote of quotes; let i = index">
            <div class="card-body">
              <i class="fa fa-quote-left"></i>
              <p appHighlight>{{ quote.text }}</p>
              <p>{{ quote.author }}</p>
            </div>
            <div class="card-footer">
              <app-quote-details [quote]="quote"></app-quote-details>
              <span (click)="delete(i)" class="del">
                <i class="fa fa-trash"></i>
              </span>
            </div>
  
            <div class="card-footer">
              <div class="row">
                <div class="col-3 action">
                  {{ quote.upvotes }}
                </div>
                <div
                  class="col-3 action"
                  (click)="quote.upvotes = quote.upvotes + 1"
                >
                  <i class="fa fa-thumbs-up"></i>
                </div>
                <div
                  class="col-3 action"
                  (click)="quote.downvotes = quote.downvotes + 1"
                >
                  <i class="fa fa-thumbs-down"></i>
                </div>
                <div class="col-3 action">
                  {{ quote.downvotes }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
