.author {
    font-style: italic;
    font-weight: bold;
    text-align: right;
  }
  .btn{
    margin: 1px;
  }
  .card{
    margin: 2px;
  }
  .card-body{
    text-align: center;
    color: #ffffff;
  }
  .action{
    text-align: center;
    color: #c5b0b0;
    font-size: 20px;
  }
  form{
    padding: 2px;
    background-color: #045c0b;
    width: 30%;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    left: 1%;
  }
  label{
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
  }
  .cancel-form{
    text-align: right;
  }
  
  
  .card:nth-child(6n-5) {
    background-color: rgb(238, 147, 29);
  }
  .card:nth-child(6n-4) {
    background-color: rgb(3, 48, 3);
  }
  .card:nth-child(6n-3) {
    background-color: rgb(5, 27, 68);
  }
  .card:nth-child(6n-2) {
    background-color: blue;
  }
  .card:nth-child(6n-1) {
    background-color: rgb(224, 8, 8);
  }
  .card:nth-child(6n+0) {
    background-color: rgb(7, 85, 78);
  }
  .card-footer{
    background-color: #b0abb4;
  }
  .fa-quote-left{
    float: left;
    font-size: 30px;
  }
  .del{
    color: black;
    float: right;
  }